* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

canvas#visualizer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Make sure the canvas stays behind other elements */
    display: block;
}

.bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.bio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2em;
    text-transform: uppercase;
}

.bio {
    font-size: 1.2em;
    margin-top: 10px;
    color: lightgray;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
}

.overlay-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}
